*{
	box-sizing: border-box;
	background-image: url("../../img/background.png") !important;
	background-repeat: no-repeat;

 }


body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
	
}

main{
	background-color:#F8F9FA;
}


#logo{
	width: 60px;
	border-radius: 50%;
	

}
#text{
	padding-top: 12px;

}
.nav-item {
	margin-right: 1em;
	margin-left: 1em;
	
}

.nav-link{
	font-family: 'League Spartan', sans-serif;
	font-size: 18px !important;
}

header h1{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}
header h2{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}

header .container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

.carousel carousel-dark {
	width: 70% !important;
}

.container1, .container2{
	padding-top: 2em;
	width: 60%;
	height: 100%;
	margin: auto;
}

.container2 {
	background-color: rgb(218, 216, 216);
	width: 100%;
	padding: 3em 13em;
	margin-top: 2em;
	
}

#conteudo-container2{
	margin-left: 1em;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
	font-size: 3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #f4e9e7;
	margin-bottom: .5em;
}

#h2{
	color:#003346;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

button{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#0c8cd3;
	border-color: #04324c;
	width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;

}

button:active{
	margin-top:0px;
	border: 0;
}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}

.adicionar-paciente{
    margin-top: 30px;
}

.campo-invalido{
	border: 1px solid red;
}
.botao1{
	padding-left: 1px;
}
#mensagem-erro {
    color: red;
	font-size: 1.0em;
}

.fadeOut{
	opacity: 0;
	transition: 0.5s;
}
.invisivel {
	display: none;
}